<div class="row mt-5">
    <div class="col-7">
        <div class="card">
            <div class="card-body">
                <h1>
                    Bienvenido al Foro Universitario
                </h1>
                <h5>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum molestias aliquid quidem quos exercitationem aspernatur? Voluptatum, architecto amet. Possimus accusantium aliquam eligendi! Molestias, vitae eius. Eius reiciendis ratione omnis temporibus.
                </h5>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt facere iure quos quis, laboriosam dolorum modi eius eos culpa, vitae nostrum numquam possimus nobis aliquid. Molestiae optio voluptas quos perferendis.
                </p>
            </div>
        </div>
    </div>
    <div class="col-5">
        <div class="card">
            <div class="card-body">
                Hola mundo
            </div>
        </div>
    </div>
</div>
