<div class="container">
    <div class="row">
        <div class="col-10">
            <app-publicacion></app-publicacion>
            <app-publicacion></app-publicacion>
            <app-publicacion></app-publicacion>
        </div>
        <div class="col-2">
            <div class="mt-4">
                <button type="button" class="btn btn-success btn-circle btn-xl">
                    <i class="material-icons">
                    add
                    </i>
                </button>
            </div>
        </div>
    </div>
    
</div>
