
<div class="container">
    <table class="table table-bordered table-hover mt-5">
        <thead class=" bg-light">
            <tr class="text-center">
                <th>CURSO</th>
                <th>PUBLICACIONES</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let curso of cursos">
                <td class="text-center ">
                    <a routerLink="/curso/{{ curso.id }}" class="btn btn-block btn-outline-secondary">{{ curso.nombre }}</a>
                </td>
                <td class="text-center">
                    <span>{{ curso.publicaciones }}</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<hr>
