<div id="malla" class="container"></div>
<div class="row">
    <div class="col mt-5">
        <table class="table table-borderless table-hover table-dark">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Curso</th>
                    <th scope="col">Vistas</th>
                    <th scope="col">Likes</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let course of courses">
                    <th scope="row">{{course._id}}</th>
                    <td>{{course.name}}</td>
                    <td>{{course.views}}</td>
                    <td>{{course.likes}}</td>
                    <td><a routerLink="/course/{{course._id}}" class="btn btn-secondary btn-sm">Ir al curso</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
