<div id="malla" class="container"></div>
<div class="row">
  <div class="col mt-5">
    <table class="table table-borderless table-hover table-dark">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Curso</th>
          <th scope="col">Vistas</th>
          <th scope="col">Likes</th>
          <th scope="col">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Sistemas Operativos</td>
          <td>5</td>
          <td>10</td>
          <td><a routerLink="/course/1" class="btn btn-secondary btn-sm">Ir al curso</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
