<div class="row">
  <div class="col-md-5 container mt-5">
    <div class="card ">
        <div class="card-body bg-light">
            <form action="/add" method="POST">
                <div class="form-group">
                    <input type="text" name="title" placeholder="Inserte un nombre a tu publicacion" class="form-control">
                </div>
                <div class="row">
                        <div class="col-sm-5">
                          <select class="form-control" style="min-width: 30%;">
                            <option class="bg-light">Inserte curso</option>
                            <option >Sistema Operativos</option>
                            <option >Matematicas</option>
                            <option >Construccion de software</option>
                            <option >Redes</option>
                          </select>
                        </div>
                </div>
                <br>
                <div class="form-group">
                    <textarea name="description" cols="80" class="form-control" placeholder="Insert a description"></textarea> 
                </div>
                <div>
                    <input type="file" class="btn btn-file btn-outline-success">
                </div>
                <br>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">
                        PUBLICAR
                    </button>
                </div>
                
            </form>
        </div>   
    </div>
  </div>  
</div>
