<div class="row">
    <div class="col">
        <div class="col-12">
            <div class="card mt-5" *ngFor="let post of posts">
                <div class="card-header">
                    <div class="row">
                        <div class="col-9">
                            {{post.userName}}
                        </div>
                        <div class="col-3">
                            <small class="text-muted">{{post.timestamp|date:'medium'}}</small>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title"> {{post.name}} </h5>
                    <p class="card-text">{{post.description}}</p>
                    <p class="card-text">{{post.fileUrl}}</p>
                </div>
                <div class="card-footer">
                    <div class="text-center">
                        <a routerLink="/post/{{post._id}}" class="btn btn-secondary">Ir a la publicación</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>