<div class="row mt-5 jalign-items-center">
    <div class="card p-5">
        <div class="col">
            <h1>
                Foro Universitario
            </h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat placeat aperiam accusamus harum nobis? Necessitatibus mollitia eveniet, culpa corrupti modi recusandae accusamus aspernatur dicta ab. Distinctio porro doloribus delectus rerum.
            </p>
            <div class="card">
                <div class="card-body text-center">
                    <button type="button" class="btn btn-danger" (click)="onLoginGoogle()">
                        <i class="fa fa-google" aria-hidden="true"></i> Iniciar Sesión con Google
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>