

<div class="carding middle">
        <div class="fronti">
          <h1 class="texto_fondo">FORO UNIVERSITARIO</h1>
        </div>
        <div class="backi">
          <div class="backi-content middle">
            
                <div class="row mt-5 jalign-items-center">

                        <div class="col">
                                <h1 class="texto_otro">
                                    Bienvenido!
                                </h1>
                                <br><br>
                                <p class="texto_grande">
                                        Siéntete libre de intercambiar información con tus compañeros sobre los cursos que se dictan en la universidad
                                        y encuentra material que ya fué desarrollada como trabajos, folletos, tareas, etc.
                                        e incluso Exámenes pasados que posiblemente te ayudarán a tener mejores resultados en 
                                        tus calificaciones.
                                </p>
                                
                                    <div class="card-body text-center">
                                        <button type="button" class="box_enviar" (click)="onLoginGoogle()">
                                            <i class="fa fa-google" aria-hidden="true"></i> Iniciar Sesión con Google
                                        </button>
                                    </div>
                                
                            </div>
                        
                    </div>
          </div>
        </div>
      </div>

<!--
<div class="row mt-5 jalign-items-center">
    <div class="card p-5">

        <div class="col">
            <h1>
                Foro Universitario
            </h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat placeat aperiam accusamus harum nobis? Necessitatibus mollitia eveniet, culpa corrupti modi recusandae accusamus aspernatur dicta ab. Distinctio porro doloribus delectus rerum.
            </p>
            <div class="card">
                <div class="card-body text-center">
                    <button type="button" class="btn btn-danger" (click)="onLoginGoogle()">
                        <i class="fa fa-google" aria-hidden="true"></i> Iniciar Sesión con Google
                    </button>
                </div>
            </div>
        </div>



    </div>
</div>
-->