<div class="row mt-5 jalign-items-center">
    <div class="card p-5">
        <div class="col">
            <h1>
                Foro Universitario
            </h1>
            <br/>
            <h4>
                Bienvienido! 
            </h4>
            <br/>    
            <p>  Sientete libre de intercambiar información entre compañeros de los cursos que se dictan en la universidad
                y encuentra material que ya fué desarrollada como trabajos, folletos, tareas, etc.
                e incluso Exámenes pasados que posiblemente te ayudarán a tener mejores resultados en 
                tus calificaciones.
            </p>
            <div class="card">
                <div class="card-body text-center">
                    <button type="button" class="btn btn-danger" (click)="onLoginGoogle()">
                        <i class="fa fa-google" aria-hidden="true"></i> Iniciar Sesión con Google
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>