<div class="row">
    <div class="col-12 mt-5">
        <div class="card text-white bg-secondary mb-3">
            <div class="card-header">
                <div class="row">
                    <div class="col-8">
                        Código del curso: {{course.idCourse}}
                    </div>
                    <div class="col-4">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalPost">
                                Agregar una publicación
                            </button>
                            <button type="button" class="btn btn-light" (click)="subscribeCourse()">
                                Suscribirse
                            </button>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="card-body">
                <h5 class="card-title">{{course.name}}</h5>
                <p class="card-text">Descripción: {{course.description}}</p>
                <p class="card-text">Total créditos: {{course.semester}}</p>
                <p class="card-text">Semestre: {{course.credit}}</p>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div id="modalPost" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalScrollableTitle">Agregar publicación</h5>
                        <button type="button" class="close" #close data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form class="form-post" #postForm="ngForm" (ngSubmit)="onSubmit(postForm)">
                        <div class="modal-body">
                            <div class="form-group">
                                <input
                                type="text" 
                                class="form-control" 
                                name="name" 
                                #name="ngModel" 
                                [(ngModel)]="newPost.name"
                                placeholder="Titulo de la publicación"
                                required>
                            </div>
                            <div class="form-group">
                                <input
                                type="text" 
                                class="form-control" 
                                name="description" 
                                #description="ngModel" 
                                [(ngModel)]="newPost.description"
                                placeholder="Descripción de la publicación"
                                required>
                            </div>
                            <div class="form-group">
                                <input type="file" (change)="onUpload($event)">
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-success"
                                role="progressbar" [style.width]="(uploadPercent | async) +'%'">
                                </div>
                            </div>
                            <input type="hidden" [value]="urlImage | async">
                        
                        </div>
                        <div class="modal-footer">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary float-right" (click)="resetForm(productForm);close.click()">
                                    <i class="fa fa-plus-circle"></i> Publicar
                                </button>
                                <button class="btn btn-secondary" type="reset" (click)="resetForm(productForm);close.click()">
                                    <i class="fas fa-sync-alt"></i> Cancelar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
    <div class="col-12">
        <div class="card mt-5" *ngFor="let post of posts">
            <div class="card-header">
                <div class="row">
                    <div class="col-10">
                        {{post.userName}}
                    </div>
                    <div class="col-2">
                        <small class="text-muted">{{post.timestamp}}</small>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title"> {{post.name}} </h5>
                <p class="card-text">{{post.description}}</p>
                <p class="card-text">{{post.fileUrl}}</p>
            </div>
            <div class="card-footer">
                <div class="text-center">
                    <a routerLink="/post/{{post._id}}" class="btn btn-secondary">Ir a la publicación</a>
                </div>
            </div>
        </div>
    </div>
</div>