<div class="row">
    <div class="col-12 mt-5">
        <div class="card text-white bg-secondary mb-3">
            <div class="card-header">{{course._id}}</div>
            <div class="card-body">
                <h5 class="card-title">{{course.name}}</h5>
                <p class="card-text">{{course.description}}</p>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <button class="btn btn-danger">
                    Agregar publicación
                </button>
            </div>
            <div class="card-body">
                <form (submit)="addPost">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Título" name="name" [(ngModel)]="newPost.name">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Descripción" name="description" [(ngModel)]="newPost.description">
                    </div>
                    <div class="form-group">
                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card mt-5" *ngFor="let post of posts">
            <div class="card-header">
                <div class="row">
                    <div class="col-10">
                        {{post.idUser}}
                    </div>
                    <div class="col-2">
                        <small class="text-muted">{{post.timestamp}}</small>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title"> {{post.name}} </h5>
                <p class="card-text">{{post.description}}</p>
                
            </div>
            <div class="card-footer">
                <div class="text-center">
                    <a routerLink="/post/{{post._id}}" class="btn btn-secondary">Ir a la publicación</a>
                </div>
            </div>
        </div>
    </div>
</div>